root = true

[*.cs]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
nullable = true

[*.{xaml,xml,md,yml,yaml,ps1,sql}]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
